<div *ngIf="voteit">
    <div class="voteit d-flex">
        <div class="p-2 col-1 voteit-stats d-flex flex-column justify-content-center align-items-center">
            <div>
                <a class="btn">
                    <em class="fa-solid fa-angle-up fa-3x"></em>
                </a>
            </div>
            <div>
                <strong class="votes-up">{{voteit.votesUp}}</strong>
            </div>
            <div>
                <a class="btn">
                    <em class="fa-solid fa-angle-down fa-3x"></em>
                </a>
            </div>
        </div>
        <div class="col-3 voteit-thumbnail d-flex align-items-center">
            <img src="assets/voteit-thumbnail/{{voteit.thumbnail}}" alt="{{voteit.title}}" width="100%" height="auto" />
        </div>
        <div class="p-2 col-8 voteit-info">
            <div>
                <h2 class="text-primary mt-2 mb-1">
                    <a class="voteit-url"
                        href="{{voteit.url}}">{{voteit.title}}</a>
                </h2>
            </div>
            <div>
                <div class="d-flex voteit-details align-items-center">
                    <small class="author mr-5">
                        <a class="author-url"
                            routerLink="../../users/{{voteit.author}}"><strong>@{{voteit.author}}</strong></a>
                    </small>
                    <div *ngFor="let tag of voteit.tags">
                        <small class="p-2 tag">#{{tag}}</small>
                    </div>
                </div>
                <p class="voteit-description">{{voteit.description}}</p>
            </div>
        </div>
    </div>
</div>