h2 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

.voteit {
    .voteit-stats {
        .fa-angle-up {
            color: green;
        }

        .votes-up {
            color: green;
        }

        .fa-angle-down {
            color: red;
        }
    }

    .voteit-info {
        .voteit-url {
            text-decoration: none;
        }

        .author-url {
            color: red;
            margin-right: 10px;
            text-decoration: none;
        }

        .tag {
            color: green;
        }
    }
}